<?xml version='1.0' encoding='UTF-8' standalone='yes' ?>
<hierarchy index="0" class="hierarchy" rotation="0" width="1440" height="2621">
  <android.widget.FrameLayout index="0" package="com.azure.authenticator" class="android.widget.FrameLayout" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,0][1440,2960]" displayed="true">
    <android.widget.LinearLayout index="0" package="com.azure.authenticator" class="android.widget.LinearLayout" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,0][1440,2792]" displayed="true">
      <android.widget.FrameLayout index="0" package="com.azure.authenticator" class="android.widget.FrameLayout" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,172][1440,2792]" displayed="true">
        <android.widget.LinearLayout index="0" package="com.azure.authenticator" class="android.widget.LinearLayout" text="" resource-id="com.azure.authenticator:id/action_bar_root" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,172][1440,2792]" displayed="true">
          <android.widget.FrameLayout index="0" package="com.azure.authenticator" class="android.widget.FrameLayout" text="" resource-id="android:id/content" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,172][1440,2792]" displayed="true">
            <android.view.ViewGroup index="0" package="com.azure.authenticator" class="android.view.ViewGroup" text="" resource-id="com.azure.authenticator:id/main_content_view" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,172][1440,2792]" displayed="true">
              <android.view.ViewGroup index="0" package="com.azure.authenticator" class="android.view.ViewGroup" text="" resource-id="com.azure.authenticator:id/bottom_sheet_coordinator_layout" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,172][1440,2792]" displayed="true" />
              <android.widget.FrameLayout index="1" package="com.azure.authenticator" class="android.widget.FrameLayout" text="" resource-id="com.azure.authenticator:id/app_header" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,172][1440,368]" displayed="true">
                <android.widget.LinearLayout index="0" package="com.azure.authenticator" class="android.widget.LinearLayout" text="" resource-id="com.azure.authenticator:id/app_toolbar" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,172][1440,368]" displayed="true">
                  <android.view.ViewGroup index="0" package="com.azure.authenticator" class="android.view.ViewGroup" text="" resource-id="com.azure.authenticator:id/app_toolbar_layout" checkable="false" checked="false" clickable="false" enabled="true" focusable="true" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,172][1440,368]" displayed="true">
                    <android.view.ViewGroup index="0" package="com.azure.authenticator" class="android.view.ViewGroup" text="" resource-id="com.azure.authenticator:id/toolbar" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,172][1440,368]" displayed="true">
                      <android.widget.TextView index="0" package="com.azure.authenticator" class="android.widget.TextView" text="Authenticator" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[56,223][484,316]" displayed="true" />
                      <androidx.appcompat.widget.LinearLayoutCompat index="1" package="com.azure.authenticator" class="androidx.appcompat.widget.LinearLayoutCompat" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[922,172][1440,368]" displayed="true">
                        <android.widget.Button index="0" package="com.azure.authenticator" class="android.widget.Button" text="" content-desc="Add account" resource-id="com.azure.authenticator:id/menu_item_add_account" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[922,186][1104,354]" displayed="true" />
                        <android.widget.Button index="1" package="com.azure.authenticator" class="android.widget.Button" text="" content-desc="Search accounts" resource-id="com.azure.authenticator:id/menu_search_accounts" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[1104,186][1272,354]" displayed="true" />
                        <android.widget.Button index="2" package="com.azure.authenticator" class="android.widget.Button" text="" content-desc="More options. Action required." resource-id="com.azure.authenticator:id/menu_overflow" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[1272,186][1440,354]" displayed="true" />
                      </androidx.appcompat.widget.LinearLayoutCompat>
                    </android.view.ViewGroup>
                  </android.view.ViewGroup>
                </android.widget.LinearLayout>
              </android.widget.FrameLayout>
              <android.view.ViewGroup index="2" package="com.azure.authenticator" class="android.view.ViewGroup" text="" resource-id="com.azure.authenticator:id/fragment_content_frame" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,368][1440,2592]" displayed="true">
                <android.widget.FrameLayout index="0" package="com.azure.authenticator" class="android.widget.FrameLayout" text="" resource-id="com.azure.authenticator:id/content_frame" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,368][1440,2592]" displayed="true">
                  <android.view.ViewGroup index="0" package="com.azure.authenticator" class="android.view.ViewGroup" text="" resource-id="com.azure.authenticator:id/account_list" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,368][1440,2592]" displayed="true">
                    <android.view.ViewGroup index="0" package="com.azure.authenticator" class="android.view.ViewGroup" text="" resource-id="com.azure.authenticator:id/account_list_coordinator" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,368][1440,2592]" displayed="true">
                      <android.view.ViewGroup index="0" package="com.azure.authenticator" class="android.view.ViewGroup" text="" resource-id="com.azure.authenticator:id/account_list_base_layout" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,368][1440,2592]" displayed="true">
                        <android.view.ViewGroup index="0" package="com.azure.authenticator" class="android.view.ViewGroup" text="" resource-id="com.azure.authenticator:id/swipe_list" checkable="false" checked="false" clickable="false" enabled="false" focusable="true" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,368][1440,2592]" displayed="true">
                          <androidx.recyclerview.widget.RecyclerView index="0" package="com.azure.authenticator" class="androidx.recyclerview.widget.RecyclerView" text="" resource-id="com.azure.authenticator:id/recycler_view" checkable="false" checked="false" clickable="false" enabled="true" focusable="true" focused="false" long-clickable="true" password="false" scrollable="false" selected="false" bounds="[0,368][1440,2592]" displayed="true">
                            <android.view.ViewGroup index="0" package="com.azure.authenticator" class="android.view.ViewGroup" text="" resource-id="com.azure.authenticator:id/account_list_row_default_mode" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,403][1440,783]" displayed="true">
                              <android.widget.ImageView index="0" package="com.azure.authenticator" class="android.widget.ImageView" text="" content-desc="Profile image" resource-id="com.azure.authenticator:id/account_list_row_profile_image" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[70,438][224,592]" displayed="true" />
                              <android.widget.TextView index="1" package="com.azure.authenticator" class="android.widget.TextView" text="GITHUB" resource-id="com.azure.authenticator:id/account_list_row_account_name" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[224,438][1275,514]" displayed="true" />
                              <android.widget.TextView index="2" package="com.azure.authenticator" class="android.widget.TextView" text="GITHUB" resource-id="com.azure.authenticator:id/account_list_row_account_username" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[224,514][1275,580]" displayed="true" />
                              <android.view.View index="3" package="com.azure.authenticator" class="android.view.View" text="" resource-id="com.azure.authenticator:id/flow" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[224,580][859,748]" displayed="true" />
                              <android.widget.TextSwitcher index="4" package="com.azure.authenticator" class="android.widget.TextSwitcher" text="" content-desc="154 415" resource-id="com.azure.authenticator:id/account_list_row_oath_token" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[224,580][691,748]" displayed="true">
                                <android.widget.TextView index="0" package="com.azure.authenticator" class="android.widget.TextView" text="154 415" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[266,580][691,739]" displayed="true" />
                              </android.widget.TextSwitcher>
                              <android.widget.ProgressBar index="5" package="com.azure.authenticator" class="android.widget.ProgressBar" text="0.0" resource-id="com.azure.authenticator:id/account_list_row_progress_bar" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[747,608][859,720]" displayed="true" />
                              <android.widget.ImageView index="6" package="com.azure.authenticator" class="android.widget.ImageView" text="" content-desc="Open account details for GITHUB" resource-id="com.azure.authenticator:id/account_chevron_right_icon" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[1300,551][1384,635]" displayed="true" />
                              <android.widget.TextView index="7" package="com.azure.authenticator" class="android.widget.TextView" text="11" content-desc="11 seconds until new code generates." resource-id="com.azure.authenticator:id/account_list_row_progress_text" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[775,636][831,692]" displayed="true" />
                            </android.view.ViewGroup>
                          </androidx.recyclerview.widget.RecyclerView>
                        </android.view.ViewGroup>
                      </android.view.ViewGroup>
                      <android.view.ViewGroup index="1" package="com.azure.authenticator" class="android.view.ViewGroup" text="" resource-id="com.azure.authenticator:id/progressbar_constraint_Layout" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,368][1440,403]" displayed="true" />
                    </android.view.ViewGroup>
                  </android.view.ViewGroup>
                </android.widget.FrameLayout>
              </android.view.ViewGroup>
              <android.widget.FrameLayout index="3" package="com.azure.authenticator" class="android.widget.FrameLayout" text="" resource-id="com.azure.authenticator:id/bottom_nav_bar" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,2592][1440,2792]" displayed="true">
                <android.view.ViewGroup index="0" package="com.azure.authenticator" class="android.view.ViewGroup" text="" resource-id="com.azure.authenticator:id/bottom_nav_layout" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,2592][1440,2792]" displayed="true">
                  <android.view.View index="0" package="com.azure.authenticator" class="android.view.View" text="" resource-id="com.azure.authenticator:id/bottom_navigation_divider" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,2592][1440,2596]" displayed="true" />
                  <android.widget.FrameLayout index="1" package="com.azure.authenticator" class="android.widget.FrameLayout" text="" resource-id="com.azure.authenticator:id/bottom_navigation" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,2596][1440,2792]" displayed="true">
                    <android.view.ViewGroup index="0" package="com.azure.authenticator" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,2596][1440,2792]" displayed="true">
                      <android.widget.FrameLayout index="0" package="com.azure.authenticator" class="android.widget.FrameLayout" text="" content-desc="Authenticator" resource-id="com.azure.authenticator:id/accountListFragment" checkable="false" checked="false" clickable="false" enabled="true" focusable="true" focused="false" long-clickable="false" password="false" scrollable="false" selected="true" bounds="[0,2596][288,2792]" displayed="true">
                        <android.widget.FrameLayout index="0" package="com.azure.authenticator" class="android.widget.FrameLayout" text="" resource-id="com.azure.authenticator:id/navigation_bar_item_icon_container" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="true" bounds="[102,2624][186,2708]" displayed="true">
                          <android.widget.ImageView index="0" package="com.azure.authenticator" class="android.widget.ImageView" text="" resource-id="com.azure.authenticator:id/navigation_bar_item_icon_view" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="true" bounds="[102,2624][186,2708]" displayed="true" />
                        </android.widget.FrameLayout>
                        <android.view.ViewGroup index="1" package="com.azure.authenticator" class="android.view.ViewGroup" text="" resource-id="com.azure.authenticator:id/navigation_bar_item_labels_group" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="true" bounds="[17,2712][270,2792]" displayed="true">
                          <android.widget.TextView index="0" package="com.azure.authenticator" class="android.widget.TextView" text="Authenticator" resource-id="com.azure.authenticator:id/navigation_bar_item_large_label_view" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="true" bounds="[17,2712][270,2769]" displayed="true" />
                        </android.view.ViewGroup>
                      </android.widget.FrameLayout>
                      <android.widget.FrameLayout index="1" package="com.azure.authenticator" class="android.widget.FrameLayout" text="" content-desc="Passwords" resource-id="com.azure.authenticator:id/credentialListFragment" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[288,2596][576,2792]" displayed="true">
                        <android.widget.FrameLayout index="0" package="com.azure.authenticator" class="android.widget.FrameLayout" text="" resource-id="com.azure.authenticator:id/navigation_bar_item_icon_container" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[390,2624][474,2708]" displayed="true">
                          <android.widget.ImageView index="0" package="com.azure.authenticator" class="android.widget.ImageView" text="" resource-id="com.azure.authenticator:id/navigation_bar_item_icon_view" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[390,2624][474,2708]" displayed="true" />
                        </android.widget.FrameLayout>
                        <android.view.ViewGroup index="1" package="com.azure.authenticator" class="android.view.ViewGroup" text="" resource-id="com.azure.authenticator:id/navigation_bar_item_labels_group" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[327,2712][537,2792]" displayed="true">
                          <android.widget.TextView index="0" package="com.azure.authenticator" class="android.widget.TextView" text="Passwords" resource-id="com.azure.authenticator:id/navigation_bar_item_small_label_view" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[327,2712][537,2769]" displayed="true" />
                        </android.view.ViewGroup>
                      </android.widget.FrameLayout>
                      <android.widget.FrameLayout index="2" package="com.azure.authenticator" class="android.widget.FrameLayout" text="" content-desc="Payments" resource-id="com.azure.authenticator:id/paymentListFragment" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[576,2596][864,2792]" displayed="true">
                        <android.widget.FrameLayout index="0" package="com.azure.authenticator" class="android.widget.FrameLayout" text="" resource-id="com.azure.authenticator:id/navigation_bar_item_icon_container" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[678,2624][762,2708]" displayed="true">
                          <android.widget.ImageView index="0" package="com.azure.authenticator" class="android.widget.ImageView" text="" resource-id="com.azure.authenticator:id/navigation_bar_item_icon_view" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[678,2624][762,2708]" displayed="true" />
                        </android.widget.FrameLayout>
                        <android.view.ViewGroup index="1" package="com.azure.authenticator" class="android.view.ViewGroup" text="" resource-id="com.azure.authenticator:id/navigation_bar_item_labels_group" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[626,2712][814,2792]" displayed="true">
                          <android.widget.TextView index="0" package="com.azure.authenticator" class="android.widget.TextView" text="Payments" resource-id="com.azure.authenticator:id/navigation_bar_item_small_label_view" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[626,2712][814,2769]" displayed="true" />
                        </android.view.ViewGroup>
                      </android.widget.FrameLayout>
                      <android.widget.FrameLayout index="3" package="com.azure.authenticator" class="android.widget.FrameLayout" text="" content-desc="Addresses" resource-id="com.azure.authenticator:id/addressListFragment" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[864,2596][1152,2792]" displayed="true">
                        <android.widget.FrameLayout index="0" package="com.azure.authenticator" class="android.widget.FrameLayout" text="" resource-id="com.azure.authenticator:id/navigation_bar_item_icon_container" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[966,2624][1050,2708]" displayed="true">
                          <android.widget.ImageView index="0" package="com.azure.authenticator" class="android.widget.ImageView" text="" resource-id="com.azure.authenticator:id/navigation_bar_item_icon_view" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[966,2624][1050,2708]" displayed="true" />
                        </android.widget.FrameLayout>
                        <android.view.ViewGroup index="1" package="com.azure.authenticator" class="android.view.ViewGroup" text="" resource-id="com.azure.authenticator:id/navigation_bar_item_labels_group" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[908,2712][1107,2792]" displayed="true">
                          <android.widget.TextView index="0" package="com.azure.authenticator" class="android.widget.TextView" text="Addresses" resource-id="com.azure.authenticator:id/navigation_bar_item_small_label_view" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[908,2712][1107,2769]" displayed="true" />
                        </android.view.ViewGroup>
                      </android.widget.FrameLayout>
                      <android.widget.FrameLayout index="4" package="com.azure.authenticator" class="android.widget.FrameLayout" text="" content-desc="Verified IDs" resource-id="com.azure.authenticator:id/card_list_graph" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[1152,2596][1440,2792]" displayed="true">
                        <android.widget.FrameLayout index="0" package="com.azure.authenticator" class="android.widget.FrameLayout" text="" resource-id="com.azure.authenticator:id/navigation_bar_item_icon_container" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[1254,2624][1338,2708]" displayed="true">
                          <android.widget.ImageView index="0" package="com.azure.authenticator" class="android.widget.ImageView" text="" resource-id="com.azure.authenticator:id/navigation_bar_item_icon_view" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[1254,2624][1338,2708]" displayed="true" />
                        </android.widget.FrameLayout>
                        <android.view.ViewGroup index="1" package="com.azure.authenticator" class="android.view.ViewGroup" text="" resource-id="com.azure.authenticator:id/navigation_bar_item_labels_group" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[1189,2712][1402,2792]" displayed="true">
                          <android.widget.TextView index="0" package="com.azure.authenticator" class="android.widget.TextView" text="Verified IDs" resource-id="com.azure.authenticator:id/navigation_bar_item_small_label_view" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[1189,2712][1402,2769]" displayed="true" />
                        </android.view.ViewGroup>
                      </android.widget.FrameLayout>
                    </android.view.ViewGroup>
                  </android.widget.FrameLayout>
                </android.view.ViewGroup>
              </android.widget.FrameLayout>
            </android.view.ViewGroup>
          </android.widget.FrameLayout>
        </android.widget.LinearLayout>
      </android.widget.FrameLayout>
    </android.widget.LinearLayout>
  </android.widget.FrameLayout>
</hierarchy>